#text-button3 {
    color: magenta;
    background-color: aliceblue;
}

#text-button4 {
    color: navy;
}

.my-class {
    color: grey;
}

button {
    color: red;
}

#my-div div {
    color: lightsalmon;
}

/* Combined selector */
table, th, td {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

/*[name="some-name"] {*/
/*    color: blue;*/
/*}*/
/* Select all html elements whoase name ttribute starts with "some-" */
[name^="some-"] {
    color: rgb(87, 172, 173);
}

p {
    /*!* Manipulating text *!*/
    font-family: "Roboto", serif;
    /*font-size: 15px;*/
    /*text-decoration: underline;*/
    /*font-weight: bold;*/
    /*font-style: italic;*/
}

#div-bm {
    border: 5px solid black;
    /*text-align: right;*/
    text-align: center;
}