p {
    background-color: yellow;
    padding: 20px;
}
div:hover p {
    background-color: red;
}


button:nth-child(2n) {
    color: green;
}

button:hover {
    color: red;
}

#fourth-button:before {
    content: "My ";
    color: red;
}

#fourth-button:after {
    content: "!";
    color: blue;
}